.btn:focus {
  outline: none !important;
}


.btn-success{
    background-color: rgb(94, 184, 176);
    border-radius: 0%;
    border-color:unset;
    padding: 1rem;
    
}

.btn-success:hover{
    background-color: rgb(138, 223, 218);
    border-color: unset;
}

.btn-success:focus{
    background-color:rgb(138, 223, 218) ;
}

