.btn:focus {
  outline: none !important;
}


.btn-success{
    background-color: #2956E9 /*rgb(94, 184, 176);*/;
    border-radius: 0%;
    border-color:unset;
    padding: 1rem;
    
}

.btn-success:hover{
    background-color: rgb(138, 223, 218);
    border-color: unset;
}

.btn-success:focus{
    background-color:rgb(138, 223, 218) ;
}

.nav-link:active{
    background-color: gray;
}

.dropdown-item-reddit{
    color: RGBA(255, 86, 0, 1);
}

.dropdown-item-twitter{
    color: RGB(29,161,242)
}

.dropdown-item-alexa{
    color: rgb(55, 71, 90);
}
