.btn:focus {
  outline: none !important;
}


.btn-success{
    background-color: #2956E9 /*rgb(94, 184, 176);*/;
    border-radius: 0%;
    border-color:unset;
    padding: 1rem;
    
}

.btn-success:hover{
    background-color: #4E75F3; /*rgb(138, 223, 218);*/
    border-color: unset;
}

.btn-success:focus{
    background-color: #6699FF; /*rgb(138, 223, 218) ;*/
}

.nav-link:active{
    background-color: gray;
}

.dropdown-item-reddit{
    color: RGBA(255, 86, 0, 1);
}

.dropdown-item-twitter{
    color: RGB(29,161,242)
}

.dropdown-item-alexa{
    color: rgb(55, 71, 90);
}

.img-fluid-icon{
    width: 7%;
    position: absolute;
    top: 5px;
    background-color: #53ABBD;/* bisque ;*/
    padding: 4px;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}

.container-top {
    padding-top: 10vh;
}

.text-muted-link{
    padding-top: 5vh;
    padding-left: 35vh;
}

a{
    text-decoration: none;
}

.p-header{
    margin-left: 40pt;
    margin-top: 50pt;
}

.last-row{
    padding-bottom: 60pt;
}