<!DOCTYPE html>

<html lang="en">
<meta charset="UTF-8">


<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>Cryptocurrency's Reddit, Twitter, Alexa Count | Cryptolytics.xyz</title>
    <meta name="description" content="Cryptocurrency's Twitter Followers - What cryptocurrency has the most Twitter followers? Find best crypto communities by comparing activity accross all social media channels">
    <meta name="keywords" content="Twitter, Followers, Cryptocurrencies, Statistics, Community, Count, Subscribers, Analytics, Statistics, Subreddits">

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Plotly js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <!-- Custom CSS -->

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Meta to verify ownership to google -->
    <meta name="google-site-verification" content="qWhIQY32h2JiYhV7qCNHofs2qz-JCZ2Te9uCw622yxs" />
    <meta name="google-site-verification" content="sMyLSkiyj480m-2Sgp8Hxa8Nc2kU1x02q71cSltJhaM" />
    
</head>
<body>

    <header>
   
    <!-- Start of Nav bar -->
        

        <div class="container-fluid">

            <div class="row">
                <div class="col-4">
                    <a class="container" href="/">
                        <img src="{{ url_for('static', filename='images/logo.png')}}" class="img-fluid-icon">
                        <!-- <button type="button" class="btn btn-success">Cryptolytics</button> -->
                    </a>
                </div>

                <div class="col-4">
                </div>
                
                <div class="col-4">
                    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #fdfdfd;">
            
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
            
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Social Media
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item dropdown-item-reddit" href="/Cryptocurrency-Reddit-Subscribers-Tracker">Reddit</a></li>
                                        <li><a class="dropdown-item dropdown-item-twitter" href="/Cryptocurrency-Twitter-Followers-Tracker">Twitter</a></li>
                                        <li><a class="dropdown-item dropdown-item-alexa" href="/Cryptocurrency-Alexa-Rank-Tracker">Alexa Rank</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/dataextraction">Data Acquisition Method</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li>
                            
                            </ul>
                        </div>

                    </nav>
                </div>

            </div>

          </div>


        <!-- End of nav bar -->

    </header>

    <!-- <img src="img_la.jpg" alt="LA" style="width:100%"> -->
    <div class="container container-top">
        <div class="row">
            <div class="col">
                <h2>Social Media and Community Activity for Cryptocurrencies </h2>
                <p class="text-muted">Reddit subscribers, twitter followers, and Alexa Rank  for Bitcoin, Ethereum, Doge and 100+ cryptocurrencies

                <div class="well">
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                  </div>
                
            </div>
        </div>
    </div>

    <div class="container-lg">

        <!-- Graphs for dataset for reddit-->

        <div class="row">

            <a href="/Cryptocurrency-Reddit-Subscribers-Tracker"> <h3 class="p-header dropdown-item-reddit">Reddit Subscribers</h3> </a>

            <div class="col-6">
                <!-- Div for the first graph created with plotly -->
                <h3 class="text-muted text-muted-link">2018</h3>
                <div id="reddit-plot2018" alt="Reddit Subscribers count for top cryptocurrencies in 2018"></div>
                
            </div>

            <div class="col-6">
                <!-- Div for the first graph created with plotly -->
                <h3 class="text-muted text-muted-link">2021</h3>
                <div id="reddit-plot2021" alt="Reddit Subscribers count for top cryptocurrencies in 2021"></div>
                <!-- <a href="/reddit"> <p class="text-muted text-muted-link">Reddit Subscribers</p> </a> -->
            </div>

        </div>

        <!-- Graphs for twitter followers -->
        
        <div class="row">

            <a href="/Cryptocurrency-Twitter-Followers-Tracker"> <h3 class="p-header dropdown-item-twitter">Twitter Followers</h3> </a>

            <div class="col-6">

                <!-- Div for the first graph created with plotly -->
                <h3 class="text-muted text-muted-link">2018</h3>
                <div id="twitter-plot2018" alt="Twitter followers count for top cryptocurrencies in 2018"></div>
                <!-- <a href="/twitter"> <p class="text-muted text-muted-link">Twitter Followers</p> </a> -->
                
            </div>

            <div class="col-6">

                <!-- Div for the first graph created with plotly -->
                <h3 class="text-muted text-muted-link">2021</h3>
                <div id="twitter-plot2021" alt="Twitter followers count for top cryptocurrencies in 2021"></div>
                <!-- <a href="/twitter"> <p class="text-muted text-muted-link">Twitter Followers</p> </a> -->
                
            </div>

        </div>
        <div class="row">

            <a href="/Cryptocurrency-Alexa-Rank-Tracker"> <h3 class="p-header dropdown-item-alexa">Alexa Rank</h3> </a>

            <div class="col-6">

                <!-- Div for the first graph created with plotly -->
                <h3 class="text-muted text-muted-link">2018</h3>
                <div id="alexa-plot2018" alt="Alexa Rank for top cryptocurrencies in 2018"></div>
                <!-- <a href="/alexa"> <h6 class="text-muted text-muted-link">Alexa Rank </h6> </a> -->
                
            </div>

            <div class="col-6 last-row">

                <!-- Div for the first graph created with plotly -->
                <h3 class="text-muted text-muted-link">2021</h3>
                <div id="alexa-plot2021" alt="Alexa Rank for different cryptocurrencies in 2021"></div>
                <!-- <a href="/alexa"> <h6 class="text-muted text-muted-link">Alexa Rank </h6> </a> -->
                
            </div>

        </div>
    </div>

        <!-- Save this as example on how to bring an image using flask -->

        <!-- <div class="row">
            <div class="col-6">
                <a href="{{ url_for('static', filename='images/2021_alexa.png') }}">
                    <img src="{{ url_for('static', filename='images/2021_alexa.png') }}"class="img-fluid"> 
                </a>
                <a href="/alexa"> <p class="text-muted">Alexa Rank</p> </a>
            </div>
        </div> -->
    





<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://twitter.com/cryptolyticsHQ"><i class="icon ion-social-twitter"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <!-- <li class="list-inline-item"><a href="#">Services</a></li> -->
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Cryptolytics © 2021</p>
    </footer>
</div>

<!-- Library for footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<!-- Bring in D3 -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>

<!-- Connect plot js -->
<script src="{{ url_for('static', filename='js/plot.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/bitcoin.js') }}"></script> -->

</body>
</html>