<!DOCTYPE html>

<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Social Media + Cryptocurrencies</title>

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 

    <!-- Custom CSS -->

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>

    <header>
   
    <!-- Start of Nav bar -->
        

        <div class="container">

            <div class="row">
                <div class="col">
                    <a class="container" href="/">
                        <button type="button" class="btn btn-success">JV Intel</button>
                    </a>
                </div>

                <div class="col">
                </div>
                
                <div class="col">
                    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #fdfdfd;">
            
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
            
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Social Media
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item dropdown-item-reddit" href="/reddit">Reddit</a></li>
                                        <li><a class="dropdown-item dropdown-item-twitter" href="/twitter">Twitter</a></li>
                                        <li><a class="dropdown-item dropdown-item-alexa" href="/alexa">Alexa Rank</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/dataextraction">Data Acquisition Method</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li>
                            
                            </ul>
                        </div>

                    </nav>
                </div>

            </div>

          </div>


        <!-- End of nav bar -->

    </header>

    <!-- <img src="img_la.jpg" alt="LA" style="width:100%"> -->
    <div class="container">
        <div class="row">
            <div class="col">


                <h1>Exploring the relationship between social media activity and cryptocurrencies' price action</h1>
                <p>This project looks at data from the top 2,500 cryptocurrencies, their reddit and twitter activity
                    as well as their Alexa rank in order to try to predict future price action
                </p>

                <p class="text-muted">This is another paragraph.</p>
            </div>
        </div>
    </div>

    <div class="containder">
        <div class="row">
            <div class="col">
                <a href="templates/2018_reddit.png">
                    <img src="{{ url_for('static', filename='images/2018_reddit.png') }}"class="img-fluid"> 
                </a>
                <a href="/api/reddit"> <p class="text-muted">See this dataset</p> </a>
            </div>
    </div>
    
<!-- "templates/2018_reddit.png" -->
</body>
</html>